* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid rgb(102, 127, 160);
    width: 380px;
    margin: 20px auto;
    background-color: rgb(102, 127, 160);
    border-radius: 3%;
    box-shadow: 3px 3px 7px rgb(70, 69, 69);    
}

.display {
    width: 322px;
    height: 100px;    
    margin: 25px auto 20px;    
    background-color: rgb(33, 33, 48);   
    box-shadow: 1px 1px 3px black;   
}

#calculation-display {    
    height: 50px;
    text-align: right;
    padding-top: 20px;
    font-size: 1.2rem;
    opacity: 0.8;
}

#current-display {    
    height: 50px;
    font-size: 1.7rem;
    padding-top: 5px;
    text-align: right;
}

.display div {
    color: rgb(241, 245, 250);    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 3px black;    
    padding-right: 10px;
}

.btn-container {
    width: 322px;
    margin: 25px auto 20px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;    
}

button {
    width: 80px;
    height: 70px;
    font-size: 1.8rem;
    cursor: pointer;    
    background-color: rgb(241, 245, 250);    
    outline: none;     
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2.5px outset rgb(224, 224, 224);
}

button:hover {
    opacity: 0.7;
}

.operator {    
    background-color: rgb(188, 212, 240);
}

#clear {
    background-color: rgb(226, 138, 138);
}

#equals {
    width: 160px;    
    background-color: burlywood;
}

#all-clear {
    width: 160px;
    background-color: rgb(226, 138, 138);
}
